*{
  margin: 0;
  padding: 0;
  background-color: rgb(61, 0, 182);

}

.weatherApp{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchSec{
  margin-top: 35px;
  display: flex; 
}

.searchBar{
  border: 1px solid white;
  border-radius: 28px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 10px 12px 10px 12px;
  font-weight: 100;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  background-color: white ;
  width: 251.15px;
}

.btn{
  :active{
    background-color: rgb(154, 154, 160);
  }
}

.searchIcon{
  border: 1px solid white;
  padding: 10px 12px 10px 12px;
  border-radius: 28px;
  background-color: white ;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}

.weatherImg{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
  
}

.tempreature{
  font-size: 105px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.location{
  font-size: 55px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.humidity{
  display: flex;
}

.humwin{
  display: flex;
  gap: 68px;
  font-size: 20px;
  color: white;
  margin-top: 25px;
}

.pichum{
  height: 26px;
  margin-top: 28px;
  padding-right: 5px;
}

.windSpeed{
  display: flex;
}

.picwind{
  height: 26px;
  margin-top: 28px;
  padding-right: 5px;
}


